<div class="container">
    

    <div  style="text-align: center">
        
        <button class="button_query" mat-button (click)="openDialog()">Search for New Query</button>
    </div>
    
    <div class="table_history">
        <table style="width:100%"> 
        
        <tr>
            <th>Sno</th>
            <th>Query</th>
            <th>Website</th>
            <th>Status</th>
            <th>Parameters</th>
            <th>Score</th>
        </tr>
    
        <tr>
            <th>1</th>
            <th>Doppler Effect</th>
            <th>https://phys.org</th>
            <th>GRE,TOEFL</th>
            <th>Word count:34,Punctuation density:4</th>
            <th>25</th>
        </tr>
    
        <tr>
            <th>2</th>
            <th>Doppler Effect</th>
            <th>https://www.smithsonianmag.com</th>
            <th>GRE</th>
            <th>Word count:24,Punctuation density:6</th>
            <th>32</th>
        </tr>

        <tr>
            <th>3</th>
            <th>Cricket</th>
            <th>https://lareviewofbooks.org</th>
            <th>Vocab</th>
            <th>Word count:54,Punctuation density:7</th>
            <th>42</th>
        </tr>
    
    
        </table>  
</div>