.container_form
{
    background-color: white;
    position: absolute;
    border-style:solid;
    border-width:2px;
    border-color: black;
   z-index: 10;
   align-content: center;
   margin-top: -250px;
   margin-left: 10px;
   padding:15px;
   margin-right:30px;
}
.form 
{
    padding: 30px;
    font-family: 'Times New Roman';
}
button
{
    text-align: center;
    margin-left:50px;
  background-color: hsl(184, 100%, 37%)  ;
  color: white;
  border:none;
  padding: 5px 7px;
  font-size: 20px;
  margin-left: 5px;
}
a{
  margin-left: 100px;
}
.formheader
{
  font-size:20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 150;
}