<div class="container">
    <div style="text-align:center">
      
        <h2>
           {{ title }}
        </h2>
          
    </div>
    <div class="table_progress">
        <table style="width:100%"> 
        
          <tr>
            <th>Sno</th>
            <th>Query</th>
            <th>Website</th>
            <th>count</th>
            <th>Total</th>
            <th>Remaining</th>
          </tr>
          
          <tr>
            <th>1</th>
            <th><a href="/status" (click)= "aboutPageLoad()"  >Doppler Effect</a></th>
            <th>https://www.theatlantic.com/</th>
            <th>1</th>
            <th>10</th>
            <th>9 </th>
          </tr>
          
          <tr>
            <th>2</th>
            <th> <a href="/status" (click)= "aboutPageLoad()"  >Doppler Effect</a></th>
           
            <th>https://www.smithsonianmag.com/</th>
            <th>11</th>
            <th>18</th>
            <th>7 </th>
          </tr>
    
          <tr>
            <th>3</th>
            <th>Cricket</th>
            <th>https://lareviewofbooks.org</th>
            <th>6</th>
            <th>24</th>
            <th>18 </th>
          </tr>
      
      
        </table>
</div>  