h2
{
    font-family: monospace;
    font-weight: 100;
    font-size: 25px;
}
table, th, td 
{
    padding: 35px 30px 15px 15px  ;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td 
{
    padding: 5px;
    text-align: left;
    font-family: 'Times New Roman';
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
}