<div class="container">
    <div style="text-align:center">
      
        <h2>
           {{ title }}
        </h2>
          
    </div>
    <div class="table_progress">
        <table style="width:100%"> 
        
          <tr>
            <th>Sno</th>
            <th>Query</th>
            <th>Website</th>
           
            <th>Total</th>
            <th>Action</th>
          </tr>
          
          <tr>
            <th>1</th>
            <th><a href="/status" (click)= "aboutPageLoad()"  >Doppler Effect</a></th>
            <th>https://www.theatlantic.com/</th>
            
            <th>10</th>
            <th><button  class="run" > Run</button>  </th>
          </tr>
          
          <tr>
            <th>2</th>
            <th> <a href="/status" (click)= "aboutPageLoad()"  >Doppler Effect</a></th>
           
            <th>https://www.smithsonianmag.com/</th>
            
            <th>18</th>
            <th><button  class="run" > Run</button> </th>
          </tr>
    
          <tr>
            <th>3</th>
            <th>Cricket</th>
            <th>https://lareviewofbooks.org</th>
            
            <th>24</th>
            <th><button  class="run" > Run</button> </th>
          </tr>
      
      
        </table>
</div>  
<p>Click on the Run button to start the scraping, when completed u can click on the keyword to view the list of passages </p>